
form{
    padding: 50px 50px;
}
legend {
    position: relative;
   
  }
  
  legend::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    border-top: 1px solid black;
  
  }
.table{

   margin: auto;
   width: 1200px;
}
