
.main{
    position: absolute;
    width: 1300px;
    height: max-content;
    margin: 100px 150px;
  }
.border{
    border:double;
    border-bottom: 1px solid black;
    
    padding-bottom: 20px;
    margin-bottom: 50px;
    height: max-content;
    
}

.border div{
  margin-top: 20px;
}
.border .report_header{
  margin-top: 0;
  align-items: center;
}

legend {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aqua;
  
}
/*legend:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  min-width: 30%;
  max-width: 40%;
}
legend:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  min-width: 30%;
  max-width: 40%;
}*/
.filter{
  padding:20px;
}
.filter input{
  width: 300px;
}
form{
  padding-left: 50px;
  padding-right: 50px;
  
  align-items: center;
}
div .table{
  width: 1200px;
  margin: auto;
  
}

.border Button{
  margin-bottom: 20px;
}
/*Not Common CSS*/


.report_icon{
  width: 50px;
  height:auto;
}