.app {
    text-align: center;
    display:flex;
    height: var(--window-height);
    width: var(--window-width);
    
  }
  .login-page {
    background-image: url('../public//icons/claims_management.png');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
  }
  

/* Tab -------------------------------*/
 .active-link {
  background-color: #000000;
  color: #ffffff;
}

/* Dashboard -------------------------------*/
.histogram div{
  display: inline-block;
  width: 500px;
  height: 300px;
  margin: auto auto;
  
}
/*  login page -----------------------*/

.login{
  width: 10%;
  height: 400px;
  
  align-items: center;
}
.login form{
  width: 300px;

}
.login Button{
  width: 100px;
}
/* Main App-----------------------------*/
.main{
  position: relative;
  width: 1300px;
  height: max-content;
  margin: 100px auto;
}
.border{
  border:double;
  border-bottom: 1px solid black;
  
  padding-bottom: 20px;
  margin-bottom: 50px;
  height: max-content;
  
}

.border div{
margin-top: 20px;

}

.border .report_header{
margin-top: 0;
align-items: center;
}

legend {
width: 100%;
margin: 0;
padding: 0;
text-align: center;
background-color: aqua;

}

.filter{
padding:20px;
}
.filter input{
width: 300px;
}
form{
padding-left: 50px;
padding-right: 50px;
align-items: center;
}
div .table{
width: 1200px;
margin: auto;

}

.border Button{
margin-bottom: 20px;
}
/*Not Common CSS*/


.report_icon{
width: 50px;
height:auto;
}

/*header*/

.header{
  width: 93%;
height: 60px;
background-color: #9d4edd;
text-align: center;
  position: fixed;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  color: white;
}
 .message{
  color: black;
 width: 400px;
  margin-top: 5px;
  margin-right: 20px;
  
}
.message section{
  margin-top: 5px;
}

.notif{
  display: flex;
  align-items: center;
}


.header{
  position: absolute;
}
.header .logo{
display: flex;
justify-content: start;
align-items: center;
width: 80%;
margin-top: 5px;

}
.header .logo img{
margin: auto 20px;

width: 50px;
height: 50px;
}


